*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background: url(images/background.png);
    background-position: center;
    position: relative; 
    overflow: hidden;
}
.logo{
    width: 100px;
    cursor: pointer;

}
.nav{
    width: 85%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
button{
    color:#fbfcfd ;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid #fbfcfd;
    border-radius: 25px;
    cursor: pointer;
    outline: none;

}
.content{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%);
    
    color: #fbfcfd;
z-index: 2;
}
h1{
    font-size: 60px;
    margin-bottom: 10px 0 30px;
    line-height: 80px;

}
.side-bar{
    width: 50px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    right: 0;
    top: 0;
    
}
.menu{
    display: block;
    width: 15px;
    margin: 40px 0 auto;
    cursor: pointer;
}
.social-links, .useful-links{
width: 25px;
margin: 5px 0 auto;
cursor: pointer;

}
.social-links{
    width: 50%;
    text-align: center;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}
.useful-links{
    width: 50%;
    position: absolute;
    bottom: 30px;
    transform: translateX(-50%);
}
.bubble img{
    width: 60px;
    animation: bubble 7s linear infinite;

}
.bubble{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
   position: absolute;
    bottom: -70px;    
}
@keyframes bubble {
    0%{
        transform: translateY(0) ;
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubble img:nth-child(1){
    animation-delay: 0s;
}

.bubble img:nth-child(2){
    animation-delay: 2s;
}   
.bubble img:nth-child(3){
    animation-delay: 4s;
}
.bubble img:nth-child(4){
    animation-delay: 6s;
}
.bubble img:nth-child(5){
    animation-delay: 1s;
}
.bubble img:nth-child(6){
    animation-delay: 3s;
}
.bubble img:nth-child(7){
    animation-delay: 5s;
}